.lista {
    width: 100%;
    border-spacing: 0;
}

.lista tr:nth-child(odd) {
    background-color: #eee;
}

.lista tr:nth-child(1) {
    vertical-align: top;
    color: #fff;
    background-color: #000;
    font-weight: bold;
}


.lista tr td {
    padding: 5px;
}